#Manipula√ß√£o de Dados sobre Exporta√ß√µes üõ¨

###Etapa 01: Importa√ß√£o do Conjunto de Dados

Nesse primeiro momento, √© necess√°rio realizar a importa√ß√£o do conjunto de dados.

In [1]:
# Importa√ß√£o de bibliotecas
import pandas as pd

In [2]:
# Lendo o conjunto de dados em formato .csv
url = '/content/data_fao.csv'
dados = pd.read_csv(url, encoding='ISO-8859-1')

In [3]:
# Verificando a leitura
dados.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

###Etapa 02: Explora√ß√£o do Conjunto de Dados

Nesse primeiro momento, √© importante realizar a explora√ß√£o do conjunto de dados. Principalmente, antes de iniciar a manipula√ß√£o do conjunto de dados.

In [4]:
# Obtendo as informa√ß√µes principais do dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Area Abbreviation  21477 non-null  object
 1   Area Code          21477 non-null  int64
 2   Area               21477 non-null  object
 3   Item Code          21477 non-null  int64
 4   Item               21477 non-null  object
 5   Element Code       21477 non-null  int64
 6   Element            21477 non-null  object
 7   Unit               21477 non-null  object
 8   latitude           21477 non-null  float64
 9   longitude          21477 non-null  float64
 10  Y1961              17938 non-null  float64
 11  Y1962              17938 non-null  float64
 12  Y1963              17938 non-null  float64
 13  Y1964              17938 non-null  float64
 14  Y1965              17938 non-null  float64
 15  Y1966              17938 non-null  float64
 16  Y1967              17938 non-null  float64
 17  Y1968              17938 non-null  float64
 18  Y1969              17938 non-null  float64
 19  Y1970              17938 non-null  float64
 20  Y1971              17938 non-null  float64
 21  Y1972              17938 non-null  float64
 22  Y1973              17938 non-null  float64
 23  Y1974              17938 non-null  float64
 24  Y1975              17938 non-null  float64
 25  Y1976              17938 non-null  float64
 26  Y1977              17938 non-null  float64
 27  Y1978              17938 non-null  float64
 28  Y1979              17938 non-null  float64
 29  Y1980              17938 non-null  float64
 30  Y1981              17938 non-null  float64
 31  Y1982              17938 non-null  float64
 32  Y1983              17938 non-null  float64
 33  Y1984              17938 non-null  float64
 34  Y1985              17938 non-null  float64
 35  Y1986              17938 non-null  float64
 36  Y1987              17938 non-null  float64
 37  Y1988              17938 non-null  float64
 38  Y1989              17938 non-null  float64
 39  Y1990              18062 non-null  float64
 40  Y1991              18062 non-null  float64
 41  Y1992              20490 non-null  float64
 42  Y1993              20865 non-null  float64
 43  Y1994              20865 non-null  float64
 44  Y1995              20865 non-null  float64
 45  Y1996              20865 non-null  float64
 46  Y1997              20865 non-null  float64
 47  Y1998              20865 non-null  float64
 48  Y1999              20865 non-null  float64
 49  Y2000              21128 non-null  float64
 50  Y2001              21128 non-null  float64
 51  Y2002              21128 non-null  float64
 52  Y2003              21128 non-null  float64
 53  Y2004              21128 non-null  float64
 54  Y2005              21128 non-null  float64
 55  Y2006              21373 non-null  float64
 56  Y2007              21373 non-null  float64
 57  Y2008              21373 non-null  float64
 58  Y2009              21373 non-null  float64
 59  Y2010              21373 non-null  float64
 60  Y2011              21373 non-null  float64
 61  Y2012              21477 non-null  int64
 62  Y2013              21477 non-null  int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [5]:
# Identificando colunas com valores nulos (NaN)
colunas = dados.isnull().sum()
filtro = colunas > 0
colunas_com_vazio = colunas[filtro]
colunas_com_vazio

Y1961    3539
Y1962    3539
Y1963    3539
Y1964    3539
Y1965    3539
Y1966    3539
Y1967    3539
Y1968    3539
Y1969    3539
Y1970    3539
Y1971    3539
Y1972    3539
Y1973    3539
Y1974    3539
Y1975    3539
Y1976    3539
Y1977    3539
Y1978    3539
Y1979    3539
Y1980    3539
Y1981    3539
Y1982    3539
Y1983    3539
Y1984    3539
Y1985    3539
Y1986    3539
Y1987    3539
Y1988    3539
Y1989    3539
Y1990    3415
Y1991    3415
Y1992     987
Y1993     612
Y1994     612
Y1995     612
Y1996     612
Y1997     612
Y1998     612
Y1999     612
Y2000     349
Y2001     349
Y2002     349
Y2003     349
Y2004     349
Y2005     349
Y2006     104
Y2007     104
Y2008     104
Y2009     104
Y2010     104
Y2011     104
dtype: int64

Conclus√£o: Apenas as colunas que armazenam os valores das exporta√ß√µes possuem valores nulos (NaN). Salvo exce√ß√£o, das duas √∫ltimas colunas (2012 e 2013).

In [6]:
# Transformando os nomes das colunas em uma lista
lista_colunas = colunas_com_vazio.index.to_list()
lista_colunas

['Y1961',
 'Y1962',
 'Y1963',
 'Y1964',
 'Y1965',
 'Y1966',
 'Y1967',
 'Y1968',
 'Y1969',
 'Y1970',
 'Y1971',
 'Y1972',
 'Y1973',
 'Y1974',
 'Y1975',
 'Y1976',
 'Y1977',
 'Y1978',
 'Y1979',
 'Y1980',
 'Y1981',
 'Y1982',
 'Y1983',
 'Y1984',
 'Y1985',
 'Y1986',
 'Y1987',
 'Y1988',
 'Y1989',
 'Y1990',
 'Y1991',
 'Y1992',
 'Y1993',
 'Y1994',
 'Y1995',
 'Y1996',
 'Y1997',
 'Y1998',
 'Y1999',
 'Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011']

In [7]:
# Descobrindo se o valor vazio √© de fato nulo (NaN)
valores_vazios = []
for coluna_vazia in lista_colunas:
  valores_vazios.append(dados[coluna_vazia].min())
valores_vazios

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

Conclus√£o: Os valores supostamente inconsistentes s√£o valores zero (0.0). Sendo assim, representam que um pa√≠s n√£o realizou a exporta√ß√£o de um determinado produto.

In [8]:
# Obtendo os valores √∫nicos da coluna de c√≥digo de elemento
dados['Element Code'].unique()

array([5142, 5521])

Conclus√£o: Existem apenas dois valores √∫nicos da coluna de c√≥digo dos elementos. Portanto, a coluna ser√° exclu√≠da.

###Etapa 03: Manipula√ß√£o do Conjunto de Dados

Agora, ser√° iniciada a transforma√ß√£o do conjunto de dados. De tal forma, a facilitar futuras an√°lises.

In [9]:
# Transformando as duas √∫ltimas colunas em valores flutuantes
colunas = ['Y2012', 'Y2013']
dados[colunas] = dados[colunas].astype(float)
dados[colunas].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Y2012   21477 non-null  float64
 1   Y2013   21477 non-null  float64
dtypes: float64(2)
memory usage: 335.7 KB

In [10]:
# Deletando a coluna de c√≥digo dos elementos
dados.drop(columns=['Element Code'], inplace=True)
dados.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element,Unit,latitude,longitude,Y1961,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,Food,1000 tonnes,33.94,67.71,1928.0,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810.0,4895.0
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),Food,1000 tonnes,33.94,67.71,183.0,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425.0,422.0
2,AFG,2,Afghanistan,2513,Barley and products,Feed,1000 tonnes,33.94,67.71,76.0,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367.0,360.0
3,AFG,2,Afghanistan,2513,Barley and products,Food,1000 tonnes,33.94,67.71,237.0,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78.0,89.0
4,AFG,2,Afghanistan,2514,Maize and products,Feed,1000 tonnes,33.94,67.71,210.0,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200.0,200.0

In [11]:
# Obtendo todos os nomes das colunas dos valores de exporta√ß√µes
colunas_exportacoes = dados.loc[:, 'Y1961':'Y2013'].columns.to_list()

In [12]:
# Obtendo todos os nomes das colunas que ser√£o mantidas
colunas_mantidas = dados.loc[:, 'Area Abbreviation':'longitude']

In [13]:
# Transformando o formato do dataframe
dados = dados.melt(colunas_mantidas, colunas_exportacoes, 'Year', 'Tonnes')
dados.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element,Unit,latitude,longitude,Year,Tonnes
0,AFG,2,Afghanistan,2511,Wheat and products,Food,1000 tonnes,33.94,67.71,Y1961,1928.0
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),Food,1000 tonnes,33.94,67.71,Y1961,183.0
2,AFG,2,Afghanistan,2513,Barley and products,Feed,1000 tonnes,33.94,67.71,Y1961,76.0
3,AFG,2,Afghanistan,2513,Barley and products,Food,1000 tonnes,33.94,67.71,Y1961,237.0
4,AFG,2,Afghanistan,2514,Maize and products,Feed,1000 tonnes,33.94,67.71,Y1961,210.0

In [14]:
# Multiplicando a colunas de toneladas por mil
dados['Tonnes'] = dados['Tonnes'] * 1000.0
dados.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element,Unit,latitude,longitude,Year,Tonnes
0,AFG,2,Afghanistan,2511,Wheat and products,Food,1000 tonnes,33.94,67.71,Y1961,1928000.0
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),Food,1000 tonnes,33.94,67.71,Y1961,183000.0
2,AFG,2,Afghanistan,2513,Barley and products,Feed,1000 tonnes,33.94,67.71,Y1961,76000.0
3,AFG,2,Afghanistan,2513,Barley and products,Food,1000 tonnes,33.94,67.71,Y1961,237000.0
4,AFG,2,Afghanistan,2514,Maize and products,Feed,1000 tonnes,33.94,67.71,Y1961,210000.0

In [15]:
# Excluindo a coluna de unidade
dados.drop(columns='Unit', inplace=True)
dados.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element,latitude,longitude,Year,Tonnes
0,AFG,2,Afghanistan,2511,Wheat and products,Food,33.94,67.71,Y1961,1928000.0
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),Food,33.94,67.71,Y1961,183000.0
2,AFG,2,Afghanistan,2513,Barley and products,Feed,33.94,67.71,Y1961,76000.0
3,AFG,2,Afghanistan,2513,Barley and products,Food,33.94,67.71,Y1961,237000.0
4,AFG,2,Afghanistan,2514,Maize and products,Feed,33.94,67.71,Y1961,210000.0

In [17]:
# Deletando a letra 'Y' da coluna de ano
dados['Year'] = dados['Year'].str.replace('Y', '')
dados['Year']

0          1961
1          1961
2          1961
3          1961
4          1961
           ...
1138276    2013
1138277    2013
1138278    2013
1138279    2013
1138280    2013
Name: Year, Length: 1138281, dtype: object

In [19]:
# Alterando o tipo da coluna de ano para inteiro
dados['Year'] = dados['Year'].astype(int)
dados['Year']

0          1961
1          1961
2          1961
3          1961
4          1961
           ...
1138276    2013
1138277    2013
1138278    2013
1138279    2013
1138280    2013
Name: Year, Length: 1138281, dtype: int64