#An√°lise de Pacientes com Coronav√≠rus ü¶†

### Etapa 01: Importa√ß√£o do Conjunto de Dados

In [1]:
# Importa√ß√£o de bibliotecas
import pandas as pd

In [2]:
# Importando o conjunto de dados dos pacientes
url = '/content/covid_data.csv'
dados = pd.read_csv(url)

In [3]:
# Verificando se a leitura foi feita com sucesso
dados.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

###Etapa 02: Explora√ß√£o do Conjunto de Dados

In [4]:
# Obtendo as informa√ß√µes gerais do dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [7]:
# Descobrindo a quantidade de valores nulos (NaN)
dados.isnull().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

In [8]:
# Verificando os valores da √∫nica coluna do tipo 'object'
dados['DATE_DIED'].unique()

array(['03/05/2020', '03/06/2020', '09/06/2020', '12/06/2020',
       '21/06/2020', '9999-99-99', '26/02/2020', '05/04/2020',
       '08/05/2020', '20/05/2020', '17/07/2020', '13/01/2020',
       '22/01/2020', '29/01/2020', '13/02/2020', '18/02/2020',
       '19/02/2020', '20/02/2020', '24/02/2020', '04/03/2020',
       '07/03/2020', '12/03/2020', '14/03/2020', '18/03/2020',
       '27/03/2020', '28/03/2020', '29/03/2020', '02/04/2020',
       '06/04/2020', '07/04/2020', '08/04/2020', '09/04/2020',
       '10/04/2020', '11/04/2020', '12/04/2020', '13/04/2020',
       '14/04/2020', '15/04/2020', '16/04/2020', '17/04/2020',
       '18/04/2020', '20/04/2020', '21/04/2020', '22/04/2020',
       '23/04/2020', '24/04/2020', '25/04/2020', '26/04/2020',
       '27/04/2020', '28/04/2020', '29/04/2020', '30/04/2020',
       '01/05/2020', '02/05/2020', '04/05/2020', '05/05/2020',
       '06/05/2020', '07/05/2020', '09/05/2020', '10/05/2020',
       '11/05/2020', '12/05/2020', '13/05/2020', '14/05/2020',
       '15/05/2020', '16/05/2020', '17/05/2020', '18/05/2020',
       '19/05/2020', '21/05/2020', '22/05/2020', '23/05/2020',
       '24/05/2020', '25/05/2020', '26/05/2020', '27/05/2020',
       '28/05/2020', '29/05/2020', '30/05/2020', '31/05/2020',
       '01/06/2020', '02/06/2020', '04/06/2020', '05/06/2020',
       '06/06/2020', '07/06/2020', '08/06/2020', '10/06/2020',
       '11/06/2020', '13/06/2020', '14/06/2020', '15/06/2020',
       '16/06/2020', '17/06/2020', '18/06/2020', '19/06/2020',
       '20/06/2020', '22/06/2020', '23/06/2020', '24/06/2020',
       '25/06/2020', '26/06/2020', '27/06/2020', '28/06/2020',
       '29/06/2020', '30/06/2020', '01/07/2020', '02/07/2020',
       '03/07/2020', '04/07/2020', '05/07/2020', '06/07/2020',
       '07/07/2020', '08/07/2020', '09/07/2020', '10/07/2020',
       '11/07/2020', '12/07/2020', '13/07/2020', '14/07/2020',
       '15/07/2020', '16/07/2020', '18/07/2020', '19/07/2020',
       '20/07/2020', '21/07/2020', '22/07/2020', '23/07/2020',
       '24/07/2020', '25/07/2020', '26/07/2020', '27/07/2020',
       '28/07/2020', '29/07/2020', '30/07/2020', '31/07/2020',
       '01/08/2020', '02/08/2020', '03/08/2020', '04/08/2020',
       '05/08/2020', '06/08/2020', '07/08/2020', '08/08/2020',
       '09/08/2020', '10/08/2020', '12/08/2020', '14/08/2020',
       '17/08/2020', '18/08/2020', '19/08/2020', '20/08/2020',
       '25/08/2020', '02/09/2020', '13/09/2020', '28/09/2020',
       '27/10/2020', '08/12/2020', '17/12/2020', '27/04/2021',
       '01/05/2021', '02/01/2020', '03/01/2020', '04/01/2020',
       '05/01/2020', '06/01/2020', '07/01/2020', '08/01/2020',
       '09/01/2020', '10/01/2020', '11/01/2020', '12/01/2020',
       '14/01/2020', '15/01/2020', '16/01/2020', '17/01/2020',
       '18/01/2020', '19/01/2020', '20/01/2020', '21/01/2020',
       '23/01/2020', '24/01/2020', '25/01/2020', '26/01/2020',
       '27/01/2020', '28/01/2020', '30/01/2020', '31/01/2020',
       '01/02/2020', '02/02/2020', '03/02/2020', '04/02/2020',
       '05/02/2020', '06/02/2020', '07/02/2020', '08/02/2020',
       '09/02/2020', '10/02/2020', '11/02/2020', '12/02/2020',
       '14/02/2020', '15/02/2020', '16/02/2020', '17/02/2020',
       '21/02/2020', '22/02/2020', '23/02/2020', '25/02/2020',
       '27/02/2020', '28/02/2020', '29/02/2020', '01/03/2020',
       '02/03/2020', '03/03/2020', '05/03/2020', '06/03/2020',
       '08/03/2020', '09/03/2020', '10/03/2020', '11/03/2020',
       '13/03/2020', '15/03/2020', '16/03/2020', '17/03/2020',
       '19/03/2020', '20/03/2020', '21/03/2020', '22/03/2020',
       '23/03/2020', '24/03/2020', '25/03/2020', '26/03/2020',
       '30/03/2020', '31/03/2020', '01/04/2020', '03/04/2020',
       '04/04/2020', '19/04/2020', '11/08/2020', '13/08/2020',
       '15/08/2020', '16/08/2020', '21/08/2020', '22/08/2020',
       '23/08/2020', '24/08/2020', '26/08/2020', '27/08/2020',
       '28/08/2020', '29/08/2020', '30/08/2020', '31/08/2020',
       '01/09/2020', '03/09/2020', '04/09/2020', '05/09/2020',
       '06/09/2020', '07/09/2020', '08/09/2020', '09/09/2020',
       '11/09/2020', '14/09/2020', '16/09/2020', '17/09/2020',
       '18/09/2020', '19/09/2020', '20/09/2020', '21/09/2020',
       '22/09/2020', '23/09/2020', '24/09/2020', '27/09/2020',
       '29/09/2020', '04/10/2020', '05/10/2020', '12/10/2020',
       '14/10/2020', '16/10/2020', '18/10/2020', '20/10/2020',
       '23/10/2020', '25/10/2020', '26/10/2020', '30/10/2020',
       '04/11/2020', '06/11/2020', '08/11/2020', '12/11/2020',
       '14/11/2020', '15/11/2020', '23/11/2020', '24/11/2020',
       '05/12/2020', '30/12/2020', '10/01/2021', '14/01/2021',
       '15/01/2021', '19/01/2021', '20/01/2021', '21/01/2021',
       '24/01/2021', '25/01/2021', '27/01/2021', '28/01/2021',
       '31/01/2021', '01/02/2021', '03/02/2021', '04/02/2021',
       '05/02/2021', '06/02/2021', '08/02/2021', '10/02/2021',
       '11/02/2021', '12/02/2021', '18/02/2021', '20/02/2021',
       '24/02/2021', '25/02/2021', '26/02/2021', '27/02/2021',
       '07/03/2021', '08/03/2021', '29/03/2021', '30/03/2021',
       '01/04/2021', '12/04/2021', '14/04/2021', '15/04/2021',
       '16/04/2021', '17/04/2021', '18/04/2021', '25/04/2021',
       '26/04/2021', '28/04/2021', '29/04/2021', '30/04/2021',
       '02/05/2021', '18/12/2020', '17/10/2020', '07/12/2020',
       '16/12/2020', '19/12/2020', '06/01/2021', '17/02/2021',
       '16/03/2021', '17/03/2021', '18/03/2021', '20/03/2021',
       '22/03/2021', '23/03/2021', '24/03/2021', '09/04/2021',
       '10/04/2021', '19/04/2021', '24/04/2021', '10/09/2020',
       '31/10/2020', '15/12/2020', '24/12/2020', '11/01/2021',
       '23/02/2021', '03/04/2021', '20/04/2021', '26/12/2020',
       '19/03/2021', '12/09/2020', '15/09/2020', '25/09/2020',
       '06/10/2020', '07/10/2020', '10/10/2020', '13/10/2020',
       '22/10/2020', '22/11/2020', '25/11/2020', '27/11/2020',
       '03/12/2020', '20/12/2020', '22/12/2020', '25/12/2020',
       '28/12/2020', '01/01/2021', '02/01/2021', '07/01/2021',
       '22/01/2021', '26/01/2021', '07/02/2021', '14/02/2021',
       '19/02/2021', '22/02/2021', '10/03/2021', '11/03/2021',
       '14/03/2021', '26/03/2021', '27/03/2021', '28/03/2021',
       '31/03/2021', '02/04/2021', '06/04/2021', '13/04/2021',
       '22/04/2021'], dtype=object)