#An치lise de Clientes da Amazon 游뚵

In [1]:
# Importa칞칚o de bibliotecas
import pandas as pd

###Etapa 01: Importa칞칚o do Conjunto de Dados

In [2]:
# Realizando a leitura do conjunto de dados
# 칄 necess치rio utilizar o par칙metro 'lines' pois o arquivo .json est치 mal formatado
url = '/content/cellphones_accessories.json'
dados = pd.read_json(url, lines=True)

In [3]:
# Exibindo as primeiras linhas do dataframe
dados.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A30TL5EWN6DFXT,120401325X,christina,"[0, 0]",They look good and stick good! I just don't li...,4,Looks Good,1400630400,"05 21, 2014"
1,ASY55RVNIL0UD,120401325X,emily l.,"[0, 0]",These stickers work like the review says they ...,5,Really great product.,1389657600,"01 14, 2014"
2,A2TMXE2AFO7ONB,120401325X,Erica,"[0, 0]",These are awesome and make my phone look so st...,5,LOVE LOVE LOVE,1403740800,"06 26, 2014"
3,AWJ0WZQYMYFQ4,120401325X,JM,"[4, 4]",Item arrived in great time and was in perfect ...,4,Cute!,1382313600,"10 21, 2013"
4,ATX7CZYFXI1KW,120401325X,patrice m rogoza,"[2, 3]","awesome! stays on, and looks great. can be use...",5,leopard home button sticker for iphone 4s,1359849600,"02 3, 2013"

###Etapa 02: Explora칞칚o do Conjunto de Dados

In [4]:
# Obtendo as informa칞칫es gerais do dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194439 entries, 0 to 194438
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      194439 non-null  object
 1   asin            194439 non-null  object
 2   reviewerName    190920 non-null  object
 3   helpful         194439 non-null  object
 4   reviewText      194439 non-null  object
 5   overall         194439 non-null  int64
 6   summary         194439 non-null  object
 7   unixReviewTime  194439 non-null  int64
 8   reviewTime      194439 non-null  object
dtypes: int64(2), object(7)
memory usage: 13.4+ MB

In [5]:
# Identificando valores nulos (NaN) no dataframe
dados.isnull().sum()

reviewerID           0
asin                 0
reviewerName      3519
helpful              0
reviewText           0
overall              0
summary              0
unixReviewTime       0
reviewTime           0
dtype: int64

In [6]:
# Descobrindo os valores 칰nicos da coluna de nota
dados['overall'].unique()

array([4, 5, 3, 1, 2])

###Etapa 03: Manipula칞칚o do Conjunto de Dados

In [7]:
# Removendo a coluna de nomes dos clientes
# N칚o ser칚o 칰teis nas an치lises
dados.drop(columns=['reviewerName'], inplace=True)
dados.head()

,reviewerID,asin,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A30TL5EWN6DFXT,120401325X,"[0, 0]",They look good and stick good! I just don't li...,4,Looks Good,1400630400,"05 21, 2014"
1,ASY55RVNIL0UD,120401325X,"[0, 0]",These stickers work like the review says they ...,5,Really great product.,1389657600,"01 14, 2014"
2,A2TMXE2AFO7ONB,120401325X,"[0, 0]",These are awesome and make my phone look so st...,5,LOVE LOVE LOVE,1403740800,"06 26, 2014"
3,AWJ0WZQYMYFQ4,120401325X,"[4, 4]",Item arrived in great time and was in perfect ...,4,Cute!,1382313600,"10 21, 2013"
4,ATX7CZYFXI1KW,120401325X,"[2, 3]","awesome! stays on, and looks great. can be use...",5,leopard home button sticker for iphone 4s,1359849600,"02 3, 2013"

In [9]:
# Convertendo a coluna de data para o formato compreendido pelo Pandas
dados['reviewTime'] = pd.to_datetime(dados['reviewTime'], format='%m %d, %Y')
dados['reviewTime']

0        2014-05-21
1        2014-01-14
2        2014-06-26
3        2013-10-21
4        2013-02-03
            ...
194434   2014-07-21
194435   2014-07-21
194436   2014-07-21
194437   2014-07-20
194438   2014-07-21
Name: reviewTime, Length: 194439, dtype: datetime64[ns]

In [10]:
# Alterando para o padr칚o brasileiro
dados['reviewTime'] = dados['reviewTime'].dt.strftime('%d/%m/%Y')
dados['reviewTime']

0         21/05/2014
1         14/01/2014
2         26/06/2014
3         21/10/2013
4         03/02/2013
             ...
194434    21/07/2014
194435    21/07/2014
194436    21/07/2014
194437    20/07/2014
194438    21/07/2014
Name: reviewTime, Length: 194439, dtype: object