###**Os Bilion√°rios Mais Ricos do Mundo** ü§ë

#####*Etapa 01:* Inje√ß√£o do Conjunto de Dados no Banco de Dados (*SQLite*)

In [47]:
# Importa√ß√£o de bibliotecas
import pandas as pd
import sqlalchemy

In [48]:
# Importando os m√≥dulos e m√©todos espec√≠ficos que ser√£o importantes
from sqlalchemy import create_engine, text

In [49]:
# Lendo o conjunto de dados que ser√° utilizado
url = '/content/top_200_richest_person_world.csv'
dados = pd.read_csv(url, encoding='ISO-8859-1')

In [50]:
# Excluindo a coluna de √≠ndices (desnecess√°ria)
dados.drop(columns=['S. No.'], inplace=True)

In [51]:
# Criando um banco de dados local e uma conex√£o
engine = create_engine('sqlite:///memory:')

In [52]:
# Inserindo o dataframe (dados) dentro do banco de dados
dados.to_sql('bilionarios', engine, index=False)

200

In [53]:
# Verificando se o processo foi bem sucedido
pd.read_sql_table('bilionarios', con=engine)

,Rank,Name,Age,Country,Networth,Industry
0,1,Bernard Arnault & family,75,France,$233 B,Fashion & Retail
1,2,Elon Musk,52,United States,$195 B,Automotive
2,3,Jeff Bezos,60,United States,$194 B,Technology
3,4,Mark Zuckerberg,39,United States,$177 B,Technology
4,5,Larry Ellison,79,United States,$141 B,Technology
...,...,...,...,...,...,...
195,195,Lei Jun,54,China,$10.9 B,Technology
196,195,Georg Schaeffler,59,Germany,$10.9 B,Automotive
197,195,Marcel Herrmann Telles & family,74,Brazil,$10.9 B,Food & Beverage
198,199,David Velez & family,42,Colombia,$10.8 B,Finance & Investments
199,200,Suleiman Kerimov & family,58,Russia,$10.7 B,Finance & Investments