###**Os Bilion√°rios Mais Ricos do Mundo** ü§ë

#####*Etapa 01:* Importa√ß√£o do Conjunto de Dados

In [25]:
# Importa√ß√£o de bibliotecas
import pandas as pd
import sqlalchemy

In [26]:
# Importando os m√≥dulos e m√©todos espec√≠ficos que ser√£o importantes
from sqlalchemy import create_engine, text

In [27]:
# Lendo o conjunto de dados que ser√° utilizado
url = '/content/top_200_richest_person_world.csv'
dados = pd.read_csv(url, encoding='ISO-8859-1')

#####*Etapa 02:* Explora√ß√£o e Manipula√ß√£o do Conjunto de Dados

In [28]:
# Obtendo as informa√ß√µes principais do conjunto de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   S. No.    200 non-null    int64
 1   Rank      200 non-null    int64
 2   Name      200 non-null    object
 3   Age       200 non-null    int64
 4   Country   200 non-null    object
 5   Networth  200 non-null    object
 6   Industry  200 non-null    object
dtypes: int64(3), object(4)
memory usage: 11.1+ KB

In [29]:
# Excluindo a coluna de √≠ndices (desnecess√°ria)
dados.drop(columns=['S. No.'], inplace=True)

In [30]:
# Alterando o formato da coluna 'Networth' para float
dados['Networth'] = dados['Networth'].str.replace('$', '')
dados['Networth'] = dados['Networth'].str.replace(' B', '').astype(float)

#####*Etapa 03:* Inje√ß√£o do Conjunto de Dados no Banco de Dados (*SQLite*)

In [31]:
# Criando um banco de dados local e uma conex√£o
engine = create_engine('sqlite:///memory:')

In [32]:
# Inserindo o dataframe (dados) dentro do banco de dados
dados.to_sql('bilionarios', engine, index=False)

200

In [33]:
# Verificando se o processo foi bem sucedido
pd.read_sql_table('bilionarios', con=engine)

,Rank,Name,Age,Country,Networth,Industry
0,1,Bernard Arnault & family,75,France,233.0,Fashion & Retail
1,2,Elon Musk,52,United States,195.0,Automotive
2,3,Jeff Bezos,60,United States,194.0,Technology
3,4,Mark Zuckerberg,39,United States,177.0,Technology
4,5,Larry Ellison,79,United States,141.0,Technology
...,...,...,...,...,...,...
195,195,Lei Jun,54,China,10.9,Technology
196,195,Georg Schaeffler,59,Germany,10.9,Automotive
197,195,Marcel Herrmann Telles & family,74,Brazil,10.9,Food & Beverage
198,199,David Velez & family,42,Colombia,10.8,Finance & Investments
199,200,Suleiman Kerimov & family,58,Russia,10.7,Finance & Investments

#####Etapa 04: An√°lise do Conjunto de Dados

In [49]:
# Descobrindo o setor com maior quantidade de bilion√°rios (em Python)
dados['Industry'].value_counts()

Industry
Technology                    40
Finance & Investments         32
Fashion & Retail              30
Diversified                   15
Food & Beverage               15
Metals & Mining               12
Automotive                    10
Energy                         9
Real Estate                    8
Manufacturing                  8
Healthcare                     6
Logistics                      4
Media & Entertainment          3
Sports                         3
Gambling & Casinos             2
Telecom                        1
Construction & Engineering     1
Service                        1
Name: count, dtype: int64

In [50]:
# Descobrindo o setor com maior quantidade de bilion√°rios (em SQL)
query = text('''SELECT Industry, COUNT(*) AS Quantity
                FROM bilionarios GROUP BY Industry
                ORDER BY Quantity DESC''')
pd.read_sql(query, con=engine)

                      Industry  Quantity
0                   Technology        40
1        Finance & Investments        32
2             Fashion & Retail        30
3              Food & Beverage        15
4                  Diversified        15
5              Metals & Mining        12
6                   Automotive        10
7                       Energy         9
8                  Real Estate         8
9                Manufacturing         8
10                  Healthcare         6
11                   Logistics         4
12                      Sports         3
13       Media & Entertainment         3
14          Gambling & Casinos         2
15                     Telecom         1
16                     Service         1
17  Construction & Engineering         1

In [56]:
# Analisando o setor com maior m√©dia de patrim√¥nio l√≠quido (em Python)
dados.groupby('Industry')['Networth'].mean().sort_values(ascending=False)

Industry
Telecom                       102.000000
Technology                     43.470000
Fashion & Retail               38.850000
Diversified                    38.606667
Automotive                     34.860000
Media & Entertainment          32.766667
Logistics                      30.575000
Finance & Investments          26.643750
Food & Beverage                24.413333
Metals & Mining                23.083333
Gambling & Casinos             21.600000
Energy                         21.100000
Construction & Engineering     20.900000
Manufacturing                  20.437500
Healthcare                     18.566667
Real Estate                    16.787500
Service                        13.800000
Sports                         13.700000
Name: Networth, dtype: float64

In [57]:
# Analisando o setor com maior m√©dia de patrim√¥nio l√≠quido (em SQL)
query = text('''SELECT Industry, AVG(Networth) AS Accumulated_networth
                FROM bilionarios GROUP BY Industry
                ORDER BY Accumulated_networth DESC
            ''')
pd.read_sql(query, con=engine)

                      Industry  Accumulated_networth
0                      Telecom            102.000000
1                   Technology             43.470000
2             Fashion & Retail             38.850000
3                  Diversified             38.606667
4                   Automotive             34.860000
5        Media & Entertainment             32.766667
6                    Logistics             30.575000
7        Finance & Investments             26.643750
8              Food & Beverage             24.413333
9              Metals & Mining             23.083333
10          Gambling & Casinos             21.600000
11                      Energy             21.100000
12  Construction & Engineering             20.900000
13               Manufacturing             20.437500
14                  Healthcare             18.566667
15                 Real Estate             16.787500
16                     Service             13.800000
17                      Sports             13.700000